body {
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.calculator {
  font-family: "DM Serif Display", serif;
  font-family: "Playfair Display", serif;
  width: 490px;
  height: 490px;
  margin: 50px auto;
  padding: 10px;
  background: #141010;
  overflow: hidden;
  border-radius: 30px;
  padding-bottom: 20px;
}

.display {
  width: 90%;
  padding: 20px;
  font-size: 80px;
  font-weight: 500;
  text-align: right;
  border: none;
  background: #141010;
  color: #fff;
}

div {
  display: inline-block;
}

button {
  width: 65px;
  height: 65px;
  border-radius: 50px;
  margin: 5px 10px 5px 38px;
  border: none;
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  cursor: pointer;
}

/* This is when the cursor hovers on the buttons -starts here */
.operation:hover {
  background-color: #f18f44;
}

.number:hover,
.zero:hover {
  background-color: #858080;
}

.opps:hover {
  background-color: #cac5c5;
}
/* This is when the cursor hovers on the buttons -ends here */

/* This is when the cursor clicks on the buttons -starts here */
.operation:active {
  background-color: #f5822a;
}

.number:active,
.zero:active {
  background-color: #726a6a;
}

.opps:active {
  background-color: #b3adad;
}
/* This is when the cursor clicks on the buttons -ends here */

/* colors of the buttons - starts here */
.operation {
  background-color: #f96d00;
}

.number {
  background-color: #5c5757;
}

.opps {
  color: #000;
}

.zero {
  background-color: #5c5757;
  width: 183px;
  text-align: left;
  padding-left: 25px;
}
/* Colors of the buttons - ends here */

/* Media query for screens smaller than 500px */
@media screen and (max-width: 500px) {
  .calculator {
    max-width: 100%; /* Set the calculator to occupy the full width of the screen */
    padding-bottom: 20px;
  }

  button {
    width: 55px;
    height: 55px;
    font-size: 22px;
    margin: 5px 12px 5px 20px;
  }

  .zero {
    width: 143px;
    padding-left: 22px;
  }
}

footer {
  color: #141010;
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  text-align: center;
  padding: 1px;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: "DM Serif Display", serif;
  font-family: "Playfair Display", serif;
  font-size: 10px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #141010;
}

a:hover {
  color: #f70776;
}
